<% layout("/layouts/boilerplate") %>
 <body>
  <div class="row ">
    <div class="col-8 offset-2">
        <br><br>
    <h3>Create A New Listing</h3>

    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a Catchy Title" type="text" class="form-control" required  >
            <div class="valid-feedback">Title Looks Good</div>
            <div class="invalid-feedback">please enter a valid Title</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textArea name="listing[description]" placeholder="Enter Description"  class="form-control" required></textArea>
            <div class="invalid-feedback"> please enter a short description</div>
        </div>
       
       <div class="mb-3">
        <label for="image" class="form-label">upload image</label>
        <input name="listing[image]" type="file" class="form-control">
        <div class="valid-feedback"></div>
       </div>

       <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="Enter Price" type="number" class="form-control" required >
            <div class="invalid-feedback">Please enter a valid Price</div>
           </div>
            
            
           <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required >
            <div class="invalid-feedback">please enter a valid country</div>
           </div>

       </div>
       

        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required >
            <div class="invalid-feedback">please enter a valid Location</div>
        </div>
       

        <button class="btn btn-dark add-btn mb-5">Add</button>
      
    </form>
</div> 
</div>  
 </body>
